/* Apply styles to the body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the height is 100% */
}

/* Footer */
.footer-container {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.582);
  text-align: center;
  padding: 10px;
}
